body {
  background-color: rgba(117, 247, 247, 0.171);
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  padding: 7px;
  color: rgb(36, 187, 187);
  border: rgb(30, 199, 199) 1px solid;
}

input::placeholder {
  color: rgba(35, 173, 173, 0.712);
}

.title h5 {
  font-size: 24px;
  font-weight: 500;
}

.name-surname {
  display: flex;
  justify-content: center;
}

.name {
  margin-right: 10px;
}

.surname {
  margin-left: 10px;
}

.birth input {
  width: 375px;
  text-align: center;
}

.city {
    margin-top: 20px;
}

#city {
    margin-top: 3px;
}

.city select {
  width: 390px;
  text-align: center;
  padding: 7px;
  color: rgb(36, 187, 187);
  border: rgb(30, 199, 199) 1px solid;
}

.address input {
  width: 375px;
  text-align: center;
}

#ukr {
  margin-left: 35px;
}

.langs label {
  margin-right: 35px;
}

.submit button {
  margin-top: 30px;
  background-color: rgb(30, 199, 199);
  border: none;
  color: rgb(61, 61, 61);
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 3%;
}

.submit button:hover {
  background-color: rgb(66, 202, 202);
  color: rgb(43, 42, 42);
}

input.error {
  border: 1px solid red;
}

small {
  color: red;
}
